<html>
	<head>
		<title></title>
	</head>
	<body>
		<p style="margin-top: 4.32pt; margin-bottom: 0pt; direction: ltr; unicode-bidi: embed; vertical-align: baseline;">
			<a href="http://www.cisco.com/c/en/us/support/docs/ip/border-gateway-protocol-bgp/13751-23.html" target="_blank">Sample Configuration for iBGP and eBGP With or Without a Loopback Address</a></p>
		<p style="margin-top: 4.32pt; margin-bottom: 0pt; direction: ltr; unicode-bidi: embed; vertical-align: baseline;">
			<a href="http://www.cisco.com/c/en/us/support/docs/ip/ip-version-6-ipv6/112135-ipv6-bgp-00.html" target="_blank">Multiprotocol BGP for IPv6 Configuration Example</a></p>
		<p style="margin-top: 4.32pt; margin-bottom: 0pt; direction: ltr; unicode-bidi: embed; vertical-align: baseline;">
			<a href="http://www.cisco.com/c/en/us/support/docs/ip/border-gateway-protocol-bgp/13750-22.html" target="_blank">How to Block One or More Networks From a BGP Peer</a></p>
		<p style="margin-top: 4.32pt; margin-bottom: 0pt; direction: ltr; unicode-bidi: embed; vertical-align: baseline;">
			&nbsp;</p>
	</body>
</html>
