<html>
	<head>
		<title></title>
	</head>
	<body>
		<p style="margin-top: 4.32pt; margin-bottom: 0pt; direction: ltr; unicode-bidi: embed; vertical-align: baseline;">
			<a href="http://www.cisco.com/c/en/us/support/docs/ip/border-gateway-protocol-bgp/13751-23.html" target="_blank">Sample Configuration for iBGP and eBGP With or Without a Loopback Address</a></p>
		<p style="margin-top: 4.32pt; margin-bottom: 0pt; direction: ltr; unicode-bidi: embed; vertical-align: baseline;">
			<a href="http://www.cisco.com/c/en/us/support/docs/ip/border-gateway-protocol-bgp/26634-bgp-toc.html#BGPloopbackinter" target="_blank">BGP and Loopback Interfaces</a></p>
		<p style="margin-top: 4.32pt; margin-bottom: 0pt; direction: ltr; unicode-bidi: embed; vertical-align: baseline;">
			<a href="http://www.cisco.com/c/en/us/support/docs/ip/border-gateway-protocol-bgp/26634-bgp-toc.html#localpref" target="_blank">Local Preference Attribute</a></p>
		<p style="margin-top: 4.32pt; margin-bottom: 0pt; direction: ltr; unicode-bidi: embed; vertical-align: baseline;">
			&nbsp;</p>
	</body>
</html>
