<html>
	<head>
		<title></title>
	</head>
	<body>
		<p>
			Hey Tech Guy,</p>
		<p>
			We&rsquo;ve powered on those two Internet routers (labeled Edge1 and Edge2) and connected them to the out-of-band network. The only thing we have configured is a loopback address to simulate a yet-to-be-built DMZ network. Both Internet circuits have been delivered and the carriers are (literally) telling us &ldquo;you are good to go &ndash; if anything doesn&rsquo;t work, it&rsquo;s something you did wrong&rdquo;.<br />
			<br />
			Please bring up the peering connections with both providers (SP1 &amp; SP2) using addressing shown in the network diagram. When we check your work, we should expect to see only a default route for both IPv4 and IPv6 on each router from their respective provider.</p>
		<p>
			Here is the information the providers sent to us that you would need:</p>
		<ul>
			<li>
				SP1
				<ul>
					<li>
						BGP AS: 201</li>
					<li>
						Session Password: BackStabbath</li>
				</ul>
			</li>
			<li>
				SP2
				<ul>
					<li>
						BGP AS: 202</li>
					<li>
						Session Password: ArrowSmith</li>
				</ul>
			</li>
		</ul>
		<p>
			Also, we have connected to a private research network directly from our core router. They run BGP and are configured with the autonomous system number of 79. Bring up a peering session with them from our core router. Show us on the core router that they send us one v4 and one v6 route.</p>
	</body>
</html>
