<html>
	<head>
		<title></title>
	</head>
	<body>
		<p>
			Tech Dude or Dudette,</p>
		<p>
			We&rsquo;re going out for an amazing breakfast, so we&rsquo;ll leave you in charge. If you can get the following done while we&rsquo;re out, that would be amazing. Page us when you&rsquo;re done and we&rsquo;ll send our IT goblin over to review your work.</p>
		<p>
			We used to peer with a cloud storage company. A lot of our research documentation has been stored there and we need to reclaim it. One problem: the administrator has disappeared under mysterious circumstances and we cannot get the connection working. They use BGP, so please peer with them and receive their single v4 and v6 route. Everything we know about them has been documented in the network diagram (Autonomous System 'X'). Good luck.</p>
	</body>
</html>
