<html>
	<head>
		<title></title>
	</head>
	<body>
		<p>
			Hey Mr. BGP Expert,</p>
		<p>
			Our IT goblin tried to configure some default routes on the core router to point to the edge routers so we can pass user traffic out to the Internet. The snarky consultant we use scolded us and told us we should &ldquo;bring the default routes into the core using BGP&rdquo;.&nbsp; He mentioned that if we &ldquo;bring down any one physical link connecting the core to the edge routers, the core should continue to see two BGP peers&rdquo;. You should probably use a password on the internal peerings just like you did with the service provider peerings.</p>
		<p>
			Also, in order to reduce expenses, we have negotiated with SP1 to implement a billing policy that is based on the amount of bandwidth we use for egress traffic. The bandwidth that SP2 provides is more than adequate, so make sure all traffic goes to SP2 and uses SP1 as a backup.</p>
	</body>
</html>
