<html>
	<head>
		<title></title>
	</head>
	<body>
		<p>
			Hey there,</p>
		<p>
			Some of the IT goblins have been pasting in configs on the edge routers to automate configuration changes. Sometimes the configs are not formatted right and end up ruining a lot of stuff. Recently, someone pasted-in a bunch of config changes that accidentally shut down the link to SP1. We didn&rsquo;t notice it was shut down and, after 30 minutes, SP1 sent an automated email to the finance controller, which caused a lot of political issues. Can you setup the EDGE 1 router so that if someone shuts down the interface to SP1, it will automatically re-enable it?</p>
		<p>
			Thank you,</p>
		<p>
			Radar&nbsp;</p>
	</body>
</html>
