<html>
	<head>
		<title></title>
	</head>
	<body>
		<p>
			Management feels that it is a good time for us to actually start using our Internet connections. Management is spread across a couple subnets (Subnet A and B). Make sure the looking glass server (the Router marked &lsquo;Internet&rsquo; on the diagram) can see those two subnets (both v4 and v6).</p>
		<p>
			Make sure the following requirements are met:</p>
		<ul>
			<li>
				Traffic destined from the Internet to Subnet A should be forwarded on ingress by SP1 (v4/v6)</li>
			<li>
				Traffic destined from the Internet to Subnet B should be forwarded on ingress by SP2 (v4/v6)</li>
			<li>
				In the event of a provider failure, the active provider should forward traffic for subnets &ldquo;A&rdquo; &amp; &ldquo;B&rdquo;</li>
		</ul>
	</body>
</html>
